{% extends 'base.html.twig' %}

{% block body %}
<div>
    {% if messages|length > 0 %}
    {% for message in messages %}
        <div> <i>{{ message }}</i> </div>
    {% endfor %}
    {% else %}
        There is nothing here yet!
    {% endif %}
</div> 
{% endblock %}

{% block title %}I have chnaged the title!{% endblock %}